.left
{
    -fx-background-color:rgb(0, 255, 0);
}

.button
{
    -fx-background-color:rgb(255, 255, 255);
    -fx-color: rgb(0,0,0);
    -fx-text-fill: rgb(0, 0, 0);
    -fx-background-radius:20;
}

.text-field
{
    -fx-background-radius:10;
}

.erro-textfield
{
    -fx-background-color:rgb(230, 150, 150);
    -fx-border-color:rgb(255, 0, 0);
    -fx-border-radius:10;
}